asgiref==3.11.1
black==26.3.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
crispy-bootstrap5==2026.3
cryptography==46.0.6
Django==6.0.3
django-crispy-forms==2.6
django-mailjet==0.3.1
django-phonenumber-field==8.4.0
env==0.1.0
gunicorn==25.3.0
idna==3.11
mailjet-rest==1.5.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
phonenumbers==9.0.27
pillow==12.1.1
platformdirs==4.9.4
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg2-binary==2.9.11
pycparser==3.0
pypdfium2==5.6.0
pytesseract==0.3.13
python-dotenv==1.2.2
pytokens==0.4.1
reportlab==4.4.10
requests==2.33.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3

python-decouple