{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="card p-3 mb-2 shadow custom-card text-center">
        <h4>Carica documento condiviso</h4>
</div>

    <div class="card-body">
        <div class="card p-3 mb-2 shadow custom-card">

                <form method="post" enctype="multipart/form-data" class="card p-3">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Titolo (opzionale)</label>
                        <input type="text" name="title" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>Categoria</label>
                        <select name="category" class="form-control">
                            <option value="chat">Documento chat</option>
                            <option value="agreement">Accordo</option>
                            <option value="minutes">Verbale</option>
                            <option value="generic">Generico</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label>File</label>
                        <input type="file"
                               name="files"
                               multiple
                               class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success btn-style">
                        Upload Shared
                    </button>
                </form>
            
        </div>
    </div>

            {% endblock %}